body
{
	margin: auto;
	max-width: 767px;
}

.global
{
	
	max-width: 100%;
	margin: 0;
}

/*-------Header-------*/

header
{
	display: flex;
	flex-direction: column;
}

#logo
{
	width: 150px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

nav
{
	display: inline-block;
	text-align: center;
	width: 100%;
}

.lien1, .lien2
{
	width: 50%;
}

nav a
{
	padding: 0 0 10px 0;
	display: inline-block;
	border-bottom: 3px solid transparent;
}

nav a:hover
{
display: inline-block;
border-bottom: 3px solid #0065FC;
border-top: none;
width: 100%;
padding-top: 0;
}

/*-------Filtres-------*/

.filtres
{
	margin-right: 20px;
	margin-left: 20px;
}

.filtres p
{
	font-size: 22px;
}

.rechercher
{
	display: none;
}

.maps
{
	padding-right: 18px;
	padding-left: 18px;
}

#loupe
{
	display: unset;
	border: 1px solid #0065FC;
	border-radius: 10px;
	padding-right: 18px;
	background-color: #0065FC;
	color: white;
}

.filtre
{
	display: inline-block;
	border: 2.5px solid #F2F2F2;
	border-radius: 40px;
	padding: 2px 25px 2px 0px;
}

.infos
{
	padding-bottom: 20px;
}

/*-------Blocs hébergements & Les plus populaires-------*/

.hotels
{
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	max-width: 100%;
}

/*-------Propriétés cards-------*/

.cards
{
	display: flex;
	flex-direction: column;
}

.small
{
	display: none;
}

.medium
{
	display: unset;
}

/*-------Bloc Les plus populaires-------*/

#populaires
{
	border-radius: 0;
	width: inherit;
	float: none;
}

.titre_icone
{
	width: 97%;
}

.hcard
{
	width: 97%;
	margin: 20px 0 20px 0;
}

.hcard img
{
	width: 45%;
	height: 100%;
}

/*-------Blocs hébergements-------*/

#hébergements
{
	background-color: white;
	flex-grow: 0;
	margin: 0;
}

.card1, .card2
{
	width: 97%;
	height: 360px;
	margin: 20px 0 20px 0;
}

.card1 img, .card2 img
{
	max-width: 100%;
	height: 220px;
}

#hébergements span
{
	font-size: 22px;
}

/*-------Bloc Activités-------*/

#activités
{
	display: flex;
	flex-direction: column;
	max-width: 100%;
	padding-left: 30px;
}

.dcard
{
	width: 97%;
}

#port, #calanques
{
	margin-right: 0px;
}

#calanques
{
	margin-left: 0;
}

#port, #pomegues, #frioul, #calanques, #garde, #longchamp
{
	height: 280px;
}

#port img, #pomegues img, #frioul img, #calanques img, #garde img, #longchamp img
{
	height: 200px;
}

#port, #frioul, #calanques
{
	margin-bottom: 40px;
}

/*-------Footer-------*/

footer
{
	background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
	padding: 40px 40px 40px 40px;
	max-width: 100%;
}