body
{
	margin: auto;
	max-width: 500px;
}

.global
{
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}

/*-------Header-------*/

header
{
	display: flex;
	flex-direction: column;
}

#logo
{
	width: 150px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

nav
{
	display: inline-block;
	text-align: center;
	max-width: 100%;
}

nav a
{
	padding-bottom: 10px;
}

nav a:hover
{
border-bottom: 3px solid #0065FC;
border-top: none;
}

/*-------Filtres-------*/

.filtres
{
	margin-right: 20px;
	margin-left: 20px;
}

.filtres p
{
	font-size: 22px;
}

.rechercher
{
	display: none;
}

.maps
{
	padding-right: 18px;
	padding-left: 18px;
}

#loupe
{
	display: unset;
	border: 1px solid #0065FC;
	border-radius: 10px;
	padding-right: 18px;
	background-color: #0065FC;
	color: white;
}

.filtre
{
	display: inline-block;
	border: 2.5px solid #F2F2F2;
	border-radius: 40px;
	padding: 2px 25px 2px 0px;
}



/*-------Blocs hébergements & Les plus populaires-------*/

.hotels
{
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	width: 500px;
}

.populaires
{
	border-radius: 0;
	width: 500px;
	float: none;
}

/*-------Blocs hébergements-------*/

.hébergements
{
	background-color: white;
	flex-grow: 0;
	margin: 0;
}

.card
{
	width: 400px;
	height: 280px;
	margin: 20px 0 20px 0;
}

.card img
{
	max-width: 100%;
	height: 150px;
}

/*-------Bloc Les plus populaires-------*/

.hcard
{
	width: 80%;
	margin: 20px 0 20px 0;
}

.titre_icone
{
	width: 80%;
}

/*-------Bloc Activités-------*/

#activités
{
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

#port, #calanques
{
	margin-right: 0px;
}

#calanques
{
	margin-left: 0;
}

#port, #pomegues, #frioul, #calanques, #garde, #longchamp
{
	width: 400px;
	height: 280px;
}

#port img, #pomegues img, #frioul img, #calanques img, #garde img, #longchamp img
{
	height: 200px;
}

#port, #frioul, #calanques
{
	margin-bottom: 40px;
}

/*-------Footer-------*/

footer
{
	background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
	padding: 40px 40px 40px 40px;
	max-width: 500px;
}