@font-face
{
	font-family: 'Raleway';
	src: url('police/Raleway-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face
{
	font-family: 'Raleway';
	src: url('police/Raleway-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}

body
{
	font-family: 'Raleway';
	font-weight: normal;
}

header, nav
{
	display: inline-block;
	vertical-align: top;
	justify-content: space-between;
}

nav
{
	float: right;
}

nav
{	
	margin-top: 30px;	
}

nav a
{
text-decoration: none;	
padding-top: 30px;
}

a:hover
{
border-top: 1px solid #0065FC;
color: #0065FC;
}

.liens
{
    display: inline;
	justify-content: flex-start; 
    font-family: 'Raleway';
    font-weight: normal;
	border: hidden;
}

.h1
{
	font-family: 'Raleway';
	font-weight: bold;
}

input, button
	{
		font-family: 'Raleway';
		font-weight: bold;
		padding: 10px 10px 15px 15px;
	}

input[type=search]
{
	border: 1px solid #F2F2F2;
}

.maps
{
	border: 1px solid #F2F2F2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.rechercher
{
	border: 1px solid #0065FC;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #0065FC;
	color: #FFFFFF;
}

li
{
	display: inline;
	justify-content: flex-start;
	border: 2.5px solid #F2F2F2;
	border-radius: 30px;
	padding: 12px 10px 12px 0px;
	margin: 5px;
	font-weight: bold;	
}

li:hover 
{
		background-color: #DEEBFF;
	}

.icons
{
    border: 2px solid #DEEBFF;
	background-color: #DEEBFF;
	border-radius: 30px;
	padding: 15px;
	margin-right: 5px;
	margin-left: none;
	color: #0065FC;
}

.fa-info
{
	border: 2px solid #F2F2F2;
	width: 8px;
	height: 8px;
	border-radius: 20px;
	padding: 10px;
	margin-right: 5px;
}

.hébergements
{
	width: 40%;
}

.populaires
{
	width: 40%;
}

.hôtels
{
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 40px 40px 40px 40px;
	display: inline-block;
	}

span
{
	font-weight: bold;
}

.cards
{
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.card
{
	flex: 0 0 200px;
	margin: 10px;
	border: 6px solid white;
	border-radius: 20px;
	box-shadow: 5px 5px 5px grey;
	background-color: white;
}

.card img
{
	max-width: 100%;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

footer
{
	background-color: #F2F2F2;
	display: flex;
	justify-content: space-between;
	padding: 40px 40px 40px 40px;
}

#assistance
{
	flex: 0.5;

}