@font-face
{
	font-family: 'Raleway';
	src: url('police/Raleway-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face
{
	font-family: 'Raleway';
	src: url('police/Raleway-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}

body
{
	font-family: 'Raleway';
	font-weight: normal;
}

header, nav
{
	display: inline-block;
	vertical-align: top;
	justify-content: space-between;
}

/*Menu*/

nav
{
	float: right;
}

nav
{	
	margin-top: 30px;	
}

nav a
{
text-decoration: none;	
padding-top: 30px;
}

a:hover
{
border-top: 1px solid #0065FC;
color: #0065FC;
}

.liens
{
    display: inline;
	justify-content: flex-start; 
    font-family: 'Raleway';
    font-weight: normal;
	border: hidden;
}

/*Filtres*/

.h1
{
	font-family: 'Raleway';
	font-weight: bold;
}

input, button
	{
		font-family: 'Raleway';
		font-weight: bold;
		padding: 10px 10px 15px 15px;
	}

input[type=search]
{
	border: 1px solid #F2F2F2;
}

.maps
{
	border: 1px solid #F2F2F2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.rechercher
{
	border: 1px solid #0065FC;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #0065FC;
	color: #FFFFFF;
}

li
{
	display: inline;
	justify-content: flex-start;
	border: 2.5px solid #F2F2F2;
	border-radius: 30px;
	padding: 12px 10px 12px 0px;
	margin: 5px;
	font-weight: bold;	
}

li:hover 
{
		background-color: #DEEBFF;
	}

.icons
{
    border: 2px solid #DEEBFF;
	background-color: #DEEBFF;
	border-radius: 30px;
	padding: 15px;
	margin-right: 5px;
	margin-left: none;
	color: #0065FC;
}

.fa-info
{
	border: 2px solid #F2F2F2;
	width: 8px;
	height: 8px;
	border-radius: 20px;
	padding: 10px;
	margin-right: 5px;
}

/*Blocs hébergements & Les plus populaires*/

.hébergements
{
	width: 50%;
	margin-right: 30px;
}

.populaires
{
	width: 35%;
}

.hôtels
{
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 40px 40px 40px 40px;
	display: inline-block;
	vertical-align: top;
	}

span
{
	font-weight: bold;
}

.cards
{
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.card
{
	flex: 0 0 260px;
	margin: 10px;
	border: 6px solid white;
	border-radius: 30px;
	box-shadow: 5px 5px 5px grey;
	background-color: white;
}

.card img
{
	width: 300px;
	height: 160px;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}

.card .text
{
	padding: 0 10px 0;
}

/*Bloc Les plus populaires*/

.hcard
{
	display: flex;
	align-items: flex-start;
	width: 400px;
	margin: 10px;
	border: 6px solid white;
	border-radius: 30px;
	box-shadow: 5px 5px 5px grey;
	background-color: white;
}

.hcard img
{
	width: 200px;
	height: 180px;
	border-bottom-left-radius: 30px;
	border-top-left-radius: 30px;
}

.hcard .text
{
	padding: 0 10px 0 10px;
}

.blue
{
	color: #0065FC;
}

.grey
{
	color: #F2F2F2;
}

/*Bloc Activités*/

#activités
{
	padding-bottom: 50px;
}

.dcard
{
	flex: 0 0 260px;
	margin: 10px;
	border-radius: 30px;
	box-shadow: 5px 5px 5px grey;
	background-color: white;
}

.dcard img
{
	width: 300px;
    border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}

.dcard .text
{
	padding: 0px 20px 0;
}

#port, #calanques 
{
	height: 500px;
}

#port img, #calanques img
{
	height: 440px;
}

#pomegues, #longchamp
{
	height: 300px;
}

#pomegues img, #longchamp img
{
	height: 240px;
}

#frioul, #garde
{
	height: 180px;
}

#frioul img, #garde img
{
	height: 120px;
}

/*Tests pour placer les activités en colonne (spoiler : ça ne fonctionne pas)*/

.right
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#garde, #longchamp
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: wrap;
}

/*Footer*/

footer
{
	background-color: #F2F2F2;
	display: flex;
	justify-content: space-between;
	padding: 40px 40px 40px 40px;
}

#assistance
{
	flex: 0.5;

}